a {
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* position: fixed; */
  z-index:1000;
  top: 0;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px)
.line-height {
  line-height: 40%;
}

.container {
  /* margin-top: 15%; */
  margin-top: 5%;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align:center;
}

.page-header {
  font-size: 18px;
  color: white;
  position: fixed;
  z-index:1000;
  top: 0;
  padding-left:50px;
}

.project {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 350px;
  margin: 10px auto;
  padding: 5px 25px;
  color: white;
}

.project:hover {
  outline: solid 5px #65d2f0;
}

#profile-card {
  background-image: url(assets/images/desktop-design.jpg);
  background-size: cover;
  background-position: 50%;
}

